body {
  margin: 0;
  padding: 0;
  background-color: #2f4f4f;
}

.container {
  background-color: #5f9ea0;
  backdrop-filter: blur(20px);
  background-image:
    linear-gradient(
      120deg,
      #5f9ea04d,
      #4e9fbf66
    );
  text-align: center;
  margin-top: 15%;
  width: 55%;
  margin-left: 22.5%;
  padding-bottom: 20px;
}

.container h1 {
  font-size: 100px;
  display: grid;
  font-family: lora, sans-serif;
  color: white;
  margin-bottom: 10px;
}

.loy {
  font-size: 35px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  width: 350px;
  height: 24px;
  text-align: center;
  font-size: larger;
  border-radius: 7%;
  border: solid white 5px;
  margin-bottom: 15px;
}

form button {
  width: 25%;
  height: 25px;
  color: white;
  background-color: black;
  border: solid black 1px;
  font-size: larger;
  margin-left: 35%;
  border-radius: 5%;
}

#result {
  font-size: x-large;
  color: white;
  text-align: center;
}

@media (max-width: 425px) {
  .container {
    width: 100%;
    margin-left: 0;
    margin-top: 50%;
  }

  .container h1 {
    font-size: 50px;
  }

  .loy {
    font-size: 17px;
  }

  input {
    width: 270px;
  }

  button {
    width: 25%;
  }
}